.vote-section .welcome-section {

}



.vote-contestant__section{
    /*padding: -30px 0 60px 0;*/
    padding-bottom: 50px;
}

.vote-contestant__wrapper{
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 50px;
    align-items: center;

    max-width: 900px;
    margin: auto;
}

.vote-contestant__section .vote-btn{
    background: var(--blue) !important;
    color: var(--white) !important;
}

.vote-contestant__wrapper .payment-form {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 1px var(--yellow);
}

.custom-input{
    padding: 9px 7px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(195, 195, 195, 0.51);
}

.custom-input:focus{
    outline: 1px solid cornflowerblue;
}

.vote-cost__wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

.vote-cost__wrapper .key{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blue);
}

.vote-cost__wrapper .value{
    font-weight: 500 ;
}

@media screen and (max-width: 600px) {
    .vote-contestant__wrapper{
        grid-template-columns: 1fr;
    }

    .vote-contestant__wrapper .card-img{
    }
}