.contestant-card{
    border-radius: 5px;

    border-right: 3px solid var(--blue);
    border-left: 3px solid var(--blue);
    padding: 0 8px;
}

.contestant-card .card-img{
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 5px;
}

.contestant-card__body{
    display: grid;
    gap: 5px;
    margin-top: 20px;
}

.contestant-card .text-content{
    text-transform: capitalize;
}

.contestant-card b{
    color: var(--blue);
}

.contestant-card .btn{
    background: var(--blue);
    display: block;
    width: 100%;
    text-align: center;
}

.pagination-wrapper{
    margin-top: 50px;
}

.pagination-wrapper li{

}

.pagination-wrapper li a{

}

.ant-pagination-item-active a{
    color: var(--light-grey) !important;
    background: var(--blue) !important;
}



@media (max-width: 500px) {
    .pagination-wrapper{
        margin: 30px 0 -40px 0;
    }
}